<app-nav-bar></app-nav-bar>
<div class="d-flex align-items-center justify-content-center vh-80 m-5">
    <div class="text-center row">
        <div class=" col-md-6">
            <img src="https://media.giphy.com/media/lZc51u0xLpPlm/giphy.gif" alt=""
                class="img-fluid">
        </div>
        
        <div class="row col-md-6">
            <div class=" ">
                <img class="img-fluid error404img" src="https://static.vecteezy.com/system/resources/previews/015/131/133/original/crossing-sign-error-404-png.png" alt="">
                <p class=""> <span class="text-danger">Opps!</span> Page not found.</p>
            </div>
            
            <p class="lead">
                The page you’re looking for doesn’t exist.
            </p>
            <!-- preguntar porque el href es el que manda y no el routerlink -->
            <a href="/list" routerLink="['/landing']" routerLinkActive="active" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>