.landing-container{
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background:  linear-gradient(gray , black) ;
   
    height: 100vh;
}

.slide{
    width: 150vh; 
    height: 100vh; 
}

.carousel-inner{
    width: 150vh; 
    height: 100vh; 
    margin:auto;
}

.carousel-img{
    position: relative;
    margin: 10px 10px 10px;
    
}



.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
    width: 20rem;
    background-color: rgb(160, 160, 160);
    box-sizing: border-box;
    background-color: rgb(206, 205, 205);
    border: 5px solid rgb(91, 88, 88);
    border-radius: 15px 15px 15px 15px ;

}

.btn{
    margin: 0px 20px;
    width: 100px;   
}

.btn:hover{
    scale: 1.2;
    transition: all 1s;
}