.div-card{
    width: 18rem;
    
    position: relative; 
    height: 535px;
    border-radius: 10px;
    margin: 20px 15px;
}

.div-card:hover{
    margin: 20px 20px;
    scale: 1.1;
    transition: all 1s;
    margin: 10px 10px;
    cursor: pointer;
}

.card-title{
    font-size: 20px;
}

.card-text{
    margin: 3px 3px;
}
